@import url("reset.css");

body {
    padding:0;
    height:100%;
    background-color: #dc1a18 ;
    color:#fff;  
    text-align:center;
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
}
#wrapper {
    background: url('../images/bodybg2.gif') repeat-x top left; min-height: 650px;
}
/*html {*/
/*    background:#dc1a18 url('../images/bodybg2.gif') repeat-x top left;*/
/*}*/

hr { margin: 7px 0;}
hr { display: block;
height: 1px;
border-left: none;
border-right: none;
border-top: 1px solid #780707;
border-bottom: 1px solid #af0a0a;
}


a, a:link, a:visited { color:#fff; text-decoration:underline; }
a:hover { color:#fff; text-decoration:none; }

strong { font-weight: bold; }
h1 {
    font-family: Arial, Helvetica, Verdana, sans-serif;
    font-size: 18px;
    font-weight: bold;
}
#main-content-holder .prod-line-item-txt-img .field-name-field-title .field-item,
h2 {
    font-family: Arial, Helvetica, Verdana, sans-serif;
    font-size: 14px;
    font-weight: bold;
}

ul {
margin:0 0 0 20px;
/*list-style-type:disc;*/
}

li {
margin:4px 0 5px 10px;
}

p { line-height: 14px; margin: 5px 0 10px 0; }

.clearer{
clear:both;
height:0px;
overflow:hidden;
/*margin-top:-1px;*/
}

#container { 	
margin:0 auto;
padding:0;
width:825px;
text-align:left;
vertical-align: middle;	
/*background-color:#ffffff;*/
}

#header {
margin:0;
padding:0;
height:106px;
}

* html #header { margin-bottom: -2px; }  /* ie6 */

#leftColumn, #startLeftColumn {
float:left;
margin:0;
padding:0;
width:510px;
}

#startLeftColumn {width: 450px;}

#leftColumn p, #startLeftColumn p {
padding: 0 0 14px 10px;
line-height: 15px;
}

#leftColumn h2, #startLeftColumn h2 {
margin:22px 0 0 0;
padding:0px 0 1px 10px;
}

#leftColumn ul, #startLeftColumn ul {
margin:0 0 0 0;
list-style:none;
}

#leftColumn li, #startLeftColumn li {
margin:4px 0 5px 10px;
}

#slider {
    background: #ce1211 url('../images/frontdetailtopbg.gif') repeat-x top left;
    /*height: 200px;*/
    margin-bottom: 100px;
}

#sliderbottom {background: transparent url('../images/frontdetailbottombg.gif') repeat-x bottom left; padding-bottom: 24px; }

/*#startLeftColumn #slider { background: #ce1211 url('../images/frontdetailtopbg.gif') repeat-x top left; }*/

#slider img { margin: 25px 0 0 14px; float: left; display: inline; }
#slider .frontimgtwo { float: right; margin: 25px 14px 0 0; }

.imgph { width: 240px; height: 150px; margin: 25px 0 0 10px; float: left; display: inline;}
/*#slider img { margin: 30px 0 0 10px; }*/

#centerColumn, #startSideColumn {
    background: transparent url('../images/roundbottom.gif') no-repeat bottom left;
margin:13px 0 0 528px;
padding:0 0 6px 0;
}

#startSideColumn { background: transparent url('../images/roundbottom_wide.gif') no-repeat bottom left; margin-left: 464px; }

#centerColumn h2, #startSideColumn h2 {
margin:0;
padding:10px 0 5px 0;
letter-spacing:.1em;
}

#boxwrapper, #contactwrapper { background: #900808 url('../images/roundtop.gif') no-repeat top left; padding-bottom: 8px; }
#boxwrapper { background: #900808 url('../images/roundtop_wide.gif') no-repeat top left; }
#boxwrapper img { margin: 14px 0 0 14px; }
/*nödlösning för ie6*/
* html #boxwrapper img { margin-left : 11px; }

#footer {
position:relative;
display: block;
color: #cbb3b3;
bottom:0;
margin:40px auto 0 auto;
padding:0 0 0 10px;
height:40px;
width: 815px;
line-height:40px;
text-align:center;
font-size:12px;
background-color:#500101;
clear: both;
}

/*#widefooter { background: url('../images/footerwbg.gif') repeat-x bottom left; }*/
#widefooter { background: #9f0a0a; width: 100%}

#navigation{position:relative;display:block;height:33px;font-size:12px;font-weight:bold;background:#f00 url('../images/menubg.gif') repeat-x top left;font-family:Arial,Verdana,Helvitica,sans-serif;
border:1px solid #efa3a3;
border-top:1px solid #af9595;
}
#navigation ul{margin:0px;padding:0;list-style-type:none;width:auto;}
#navigation ul li{display:block;float:left;margin:0;padding: 0;}
#navigation ul li a{display:block;float:left;color:#fff;text-decoration:none;padding:10px 11px 0 11px;height:23px;background:transparent url(../images/menudv.gif) no-repeat top right;}
#navigation ul li a:hover,
#navigation ul li.active,
#navigation ul li.active-trail
 {color:#fff;background:transparent url(../images/menucurr2.gif) no-repeat top right;}



/* undersida */
.prodslide {
    background: #cb1412 url('../images/prodslidebg.gif') repeat-x bottom left;
    margin-top: 7px;    
}

.prodslide h2 { margin-top: 15px;}
.prodslide p { padding-right: 20px;}

.prodinfo, .bigprodinfo {
    background: #ac0a0a url('../images/uslidebg.gif') repeat-x top left;
    color: #edcbcb;
    padding-bottom: 7px;
    border-bottom: 4px solid #c31d1d;
    width: 652px;
    float: left;
    min-height: 134px;
    }

.prodpicture { float: left; margin: 11px 0 0 7px; display: inline; }

.productinfo { float: right; width: 250px; margin-right: 10px; display: inline; }

.dlpdf { float: right; }

#prodnav { 
    position:relative;
    display:block;
    height:30px;
    margin:7px 0 0px 0;
}
#prodnav ul { margin:0;padding:0;height:30px;list-style-type:none;width:auto; }
#prodnav ul li { display:block;background-color:#900808;float:left;margin:0;}
#prodnav ul li.first { padding-left: 5px; border-bottom-left-radius: 5px; border-top-left-radius: 5px; }
#prodnav ul li.last { border-bottom-right-radius: 5px; border-top-right-radius: 5px; }
#prodnav ul li.last a { border-right: 0px; }
#prodnav ul li a{display:block;float:left;color:#fff;text-decoration:none;padding:9px 11px 0 11px;height:21px;border-right: 1px solid #ae3939;}
#prodnav ul li a:hover,
#prodnav ul li a.active,
#prodnav ul li.current {
    background: url('../images/umenucurrent.gif') repeat-x top left;color:#fff;
}
#prodnav ul li.active { font-weight: bold; }


/* mellansida */

.bigprodslide { margin-top: 7px; }

.bigprodpicture { display: block; margin: 5px auto; }

.bigprodinfo { padding: 20px;  width: 516px; margin-top: 0px; min-height: 266px; height:auto !important; height:266px; }
.bigprodinfo h2 { color: #fff; }

#carWrapper { float: right; }
#carWrapper img { display: block; }

/* kontaktsida/formulär */

form, #feedback { color: #fff; background: #d0201e; padding: 10px; margin-top: 10px; width: 486px; border: 1px solid #9f0a0a; }
#feedback h2 { margin-top: 0;}
#feedback p { padding-bottom: 0;}

label {display: block; font-weight: bold; padding: 5px 0 3px 0; height: 15px;}

input, textarea { }
#namn, #e-post, #meddelande, #subject {
    width: 242px;
    border: 1px solid #9f0a0a;
    border-bottom: 1px solid #ff5c5a;
    border-right: 1px solid #ff5c5a;
    background: #fbeeee;
    padding: 4px;
}
#subject { width: 252px; }
#meddelande { width: 472px; }

#submit { margin-top:10px;}

/*.error { background-color: #fff; font-weight: bold; color: red;}*/
.error { color: #fff;}
#namn.error, #e-post.error, #meddelande.error { background-color: #ff9c9b; color: #000; font-weight: normal;  }

#fbwrapper { background-color: #9f0a0a; margin-top: 5px; padding: 5px; }


#contactwrapper { padding: 10px 14px 5px 14px; }
#contactwrapper h2 { margin-bottom: 0; }
#contactwrapper p { margin-top: 10px; line-height: 16px; padding: 0 0px; }
*html #contactwrapper {padding-left: 11px;}

.contactphoto { border: 7px solid #730606; margin: 0;}

    
#footer .region-footer {
    padding-top: 12px;
}



#main-content-holder {
    margin-top: 15px;
}

#main-content-holder .start-main-column {

}
#main-content-holder .start-right-column {
    background-color: #900808;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}
#main-content-holder .default-right-column .field-items .field-item, 
#main-content-holder .start-right-column .field-items .field-item {
    text-align: center;    
    padding: 10px 0;
}
#main-content-holder .default-right-column .field-items .field-item img, 
#main-content-holder .start-right-column .field-items .field-item img {
    border: 7px solid #730606;
}
#main-content-holder .start-right-column .field-items .even {
    padding-bottom: 0;
}
#main-content-holder .start-bott-images  .field-items {
    overflow: hidden;
}
#main-content-holder .start-bott-images  .field-item {
    float: left;
    padding-left: 16px; 
}


#main-content-holder .start-bott-images {
    background: url("../images/frontdetailtopbg.gif") repeat-x scroll left top #CE1211;
    padding-top: 24px;
}
#main-content-holder .start-bott-images .pane-content {
    background: url("../images/frontdetailbottombg.gif") repeat-x scroll left bottom rgba(0, 0, 0, 0);
    padding-bottom: 24px;
}
#main-content-holder .start-main-body {
    min-height: 213px;
}

#main-content-holder .default-right-column {
    background-color: #900808;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}
#main-content-holder .default-right-column .contact-info-right .pane-content {
    margin-top: -10px;
    padding-bottom: 10px;
    margin-left: 15px;
}
#main-content-holder .default-right-column .contact-info-right .pane-title {
    margin-top: 15px;
    padding-bottom: 10px;
    margin-left: 15px;
}
#main-content-holder .pg-main-column {
    height: auto !important;
    margin-top: 0;
    min-height: 266px;
    padding: 20px;
    width: 516px;
    background: url("../images/uslidebg.gif") repeat-x scroll left top #AC0A0A;
    border-bottom: 4px solid #C31D1D;
    color: #EDCBCB;
    float: left;    
}
#main-content-holder .panels-flexible-5 .panels-flexible-column-inside {
    padding-left: 0;
}
#main-content-holder .pg-right-column .pg-right-prodsheet .file-icon {
    display: none;
}
#main-content-holder .pg-right-column .pg-right-prodsheet .file a {
    display: block;
    text-indent: -5000px;
    width: 269px;
    height: 138px;
    background: url("../images/prislista.png") center center no-repeat;
}
#main-content-holder .pg-right-column .panel-separator {
    display: none;
}

#main-content-holder .field-collection-view {
    margin: 0;
    border-bottom: 0;
}
#main-content-holder .field-collection-container {
    border-bottom: 0;
}
#main-content-holder .prod-line-item-txt-img {
    background: url("../images/uslidebg.gif") repeat-x scroll left top #AC0A0A;
    border-bottom: 4px solid #C31D1D;
    color: #EDCBCB;
    min-height: 150px;
    padding: 10px 0;
}

#main-content-holder .prod-line-item-link .file-icon {
    display: none;
}
#main-content-holder .prod-line-item-link .panels-flexible-column-inside {
    padding-left: 0;    
}

#main-content-holder .prod-line-item-link .file a {
    display: block;
    text-indent: -5000px;
    width: 173px;
    height: 134px;
    background: url("../images/testladda2.png") center center no-repeat;
}


/*Drupal Editor links redesigned */
#editorLinks {
z-index:120;
position:fixed;
right: 6px;
top: 105px;
width: 150px;
}
#editorLinks ul.primary {
list-style: none;
text-align: center;
border: 0px;
background-image: none;

}
#editorLinks ul.primary li {
display: block;
margin: 0;
}
#editorLinks ul.primary li a {
border: 1px solid gray;
border-bottom: 0px;
padding: 10px;
display:block;
-moz-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
-webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
moz-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
background-image: none;
background-color: #eeeeee;
width: 80px;
height: 20px;
line-height: 20px;
color: black;
}
#editorLinks ul.primary li:first-child a {
-webkit-border-top-left-radius: 4px;
-webkit-border-top-right-radius: 4px;
-moz-border-radius-topleft: 4px;
-moz-border-radius-topright: 4px;
border-top-left-radius: 4px;
border-top-right-radius: 4px;
}
#editorLinks ul.primary li:last-child a {
-webkit-border-bottom-right-radius: 4px;
-webkit-border-bottom-left-radius: 4px;
-moz-border-radius-bottomright: 4px;
-moz-border-radius-bottomleft: 4px;
border-bottom-right-radius: 4px;
border-bottom-left-radius: 4px;
border-bottom: 1px solid gray;

}
#editorLinks ul.primary li a span {
background-image: none;
background-color: #eeeeee;
padding: 0; margin: 0;
}
#editorLinks ul.primary li.active a,
#editorLinks ul.primary li a:hover,
#editorLinks ul.primary li a:hover span {
background-color: #cccccc;
color: black;
}




